@import "./homepage.scss";
@import "./main.scss";
@import "./navigation-wrapper.scss";
@import "./product-pages.scss";
@import "./button.scss";


body {
 margin: 0;
 padding: 0;
 background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQxaqmiAsGqwq12EGVI9pNnlefVan-Lug90C6O_MnuXTBGnOLL2&usqp=CAU")

    image(opacity: 0.5;)
}

.app {
    
}



